.color-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex;
    justify-content: space-around;
    width: 70%;
}
.color-wrapper div{
    background-color: rgb(63, 63, 63);
    cursor: pointer;
    width: 33%;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
}
.color-wrapper div p {
    margin:13px auto;
}
.selected-div{
    border: 2px solid orange;
}
