.color-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex;
    justify-content: space-around;
    width: 100%;
}
.color-wrapper div{
    background-position: center;
    background-size: cover;
    cursor: pointer;
    width: 40%;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
}
.color-wrapper div p {
    margin:13px auto;
}
.selected-div{
    border: 2px solid #768062;
}

.plastic{
    display: flex !important;
    width: 100% !important;
}