.color-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex;
    justify-content: space-around;
    width: 60%;
}
.color-wrapper div{
    background-color: black;
    cursor: pointer;
    width: 33%;
    text-align: center;
    height: auto;
    display: flex;
    align-items: center;
}
.color-wrapper div p {
    margin:13px auto;
}
.selected-div{
    background-color: orange !important;
}