.materials-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
}
.materials-wrapper div{
    background-color: #342828;
    cursor: pointer;
    width: 33%;
    text-align: center;
    height: auto;
    display: flex;
    align-items: center;
}
.materials-wrapper div p {
    margin:13px auto;
}
.selected-div p{
    text-decoration: underline;
}