.table-cell{
    width: 5px;
    height: 5px;
    border: 1px dashed rgb(0, 0, 0);
}
.container-square{
    width: 90%;
    margin-top: 2%;
    margin-bottom: 3%;
    aspect-ratio: 16/9;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.container-rectangle{
    width: 60%;
    margin-top: 2%;
    margin-bottom: 3%;
    aspect-ratio: 16/9;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.table-holder{

    max-height: 1000px;
    width: 70%;
    cursor: pointer;
    overflow:hidden;
    display: grid;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}
.table-holder-k{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(20,minmax(0,1fr));  
}
.platform-img{
    width: 100%;
}

.component-image{
    width: 70px;
    cursor: pointer;
}
.single-component{
    width: 100%;
    border: 1px dotted orange;
}
.reset-button{
    background-color: rgb(129, 161, 119);
}
.reset-button{
    cursor: pointer;
    text-align: center;
}
.components-layout{
    display: flex;
}
.react-dragable{
    height: 100%;
    
}
.wrapper-container{
    display: flex;

}
.items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.single-component-div{
    display: flex;
    align-content: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.side-div-left{

    float: left;
    width: 100%;
    background-color: orange;
}
.side-div-right{

    float: right;
    width: 100%;
    background-color: orange;
}