.table-cell{
    width: 5px;
    height: 5px;
    border: 1px dashed rgb(0, 0, 0);
}
.container-square{
    width: 60%;
    margin-top: 2%;
    margin-bottom: 3%;
    aspect-ratio: 16/9;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.container-rectangle{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 3%;
    aspect-ratio: 16/9;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.table-holder{
    height: auto;
    width: 70%;
    cursor: pointer;
}
.platform-img{
    width: 100%;
}