.animal-button{
    height: 110px;
    cursor: pointer;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.animal-selection{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

.show-card{
    width: 100%;
    height: 660px;
    opacity: 0.5;
}

.hide-card{
    display: none;
}
.hide-info-text{
    display: none;
}
.show-info-text{
    display: block;
}