.animal-button{
    height: 130px;
    cursor: pointer;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    border-top: 2px solid black ;
}
.animal-selection{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

.show-card{
    width: 100%;
    height: 790px;
    opacity: 0.5;
}

.hide-card{
    display: none;
}
.hide-info-text{
    display: none;
    padding: 10px;
    margin: 10px;
}
.show-info-text{
    margin-top: 0px;
    margin-bottom: 0px;
}
