.animal-button{
    height: 200px;
    cursor: pointer;
    width: 33.3%;
    display: grid;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.animal-selection{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
}

.show-card{
    width: 100vw;
    height: 400px;
    opacity: 0.5;
}

.hide-card{
    display: none;
}
.hide-info-text{
    display: none;
}
.show-info-text{
    display: block;
}