.wrapper-div{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;

}
.holder-clickable{
    width: 60%;
    background-color: rgb(129, 161, 119);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 2px;
}

.holder{
    pointer-events: none;
    width: 60%;
    background-color: rgb(129, 161, 119);
    opacity: 0.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 2px;
}
.section-open{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 2s;
}
.section-closed{
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.holder-clickable h2{
    cursor: pointer;
    
}

.show-more{
      background-color: rgb(35, 78, 49);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
  }

  .show-text{
      display: flex;
      justify-content: space-around;
  }
  .hide-text{
      display: none;
  }
  .items-container{
    background-color: rgb(129, 161, 119);
      width: 100%;
      text-align: center;
      border: 1px solid rgb(59, 73, 54) ;
      cursor: pointer;
  }
  .items-container-open{
      background-color: rgb(27, 41, 22);
      width: 100%;
      text-align: center;
      border: 1px solid rgb(59, 73, 54) ;
      cursor: pointer;
  }