#root{
  font-family: 'Fredoka', sans-serif;  
}
.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.prew{
  border: 2px solid black;
  width: 70%;
  height: 300px;
}